.DS_Store
/bin
!tim-*.node
nimcache/
nimblecache/
htmldocs/
tests/*
!tests/*.nim
/pkginfo.json
/tests/app/storage/*
/example/storage/ast/*
/example/storage/html/*
/bindings/tim/src/bin/*
/init.sh
/CMakeLists.txt
denim_build/
/press
src/tim/loaders/
tests/snippets
src/tim/experiments
bindings
!example/templates